@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.nav-global {
    background-color: black;
    padding: 8px;
    margin: -8px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    align-items: baseline;
}

.nav-header-logo {
    margin-left: 25px;
    margin-top: 10px;
}

.nav-header-logo i {
    font-size: 1.5rem;
}

.nav-header-home {
    font-size: 1rem;
    margin-left: 25px;
    margin-top: 10px;
    padding: 12px;
    background-color: #1f1f1f;
    border-radius: 50%;
    cursor: pointer;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    padding: 12px;
    border-radius: 20px;
    width: 500px;
    margin-left: 8px;
}


.search-bar input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.nav-menu {
    display: flex;
    align-items: baseline;
}

.nav-header-link{
    margin-left: auto;
}

.nav-header-link a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 1rem;
    cursor: pointer;
}

.nav-header-link a:hover {
    color: white;
}

.menu-toggle-links {
    display: none;
}

.nav-header-bar{
    border: 1px solid #b3b3b3;
    margin: 20px;
    height: 25px;
}

.nav-header-install {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 20px;
}

.nav-header-install button {
    margin-left: 8px;
    background-color: transparent;
    color: #b3b3b3;
    border: none;
    cursor: pointer;
}

.nav-header-signup button {
    margin-left: 25px;
    border: none;
    background-color: transparent;
    color: #b3b3b3;
    cursor: pointer;
}

.nav-header-getin {
    margin-left: 20px;
    margin-right: 25px;
}

.nav-header-getin button{
    padding: 8px 32px;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 24px 24px 90px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    margin-left: 8px;
    margin-top: 8px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i, .nav-library p {
    color: #B7B3B6;
    font-size: 0.9rem;
    cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button {
    background-color: white;
    color: black;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 12px;
}

.nav-playlist p, .nav-podcast p {
    font-size: 0.75rem;
}

.nav-footer {
    margin-top: auto;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 0.75rem;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 8px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    background-color: #151515;
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 12px;
}


.artists-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 24px;
    margin-bottom: 40px;
}

.artist-card, .album-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artist-card:hover, .album-card:hover {
    background-color: #282828;
}

.artist-card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.album-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.artist-card h3, .album-card h3 {
    font-size: 1rem;
    text-align: left;
}

.artist-card p, .album-card p {
    color: #B7B3B6;
    font-size: 10px;
    margin-top: 8px;
    text-align: left;
}

@media (max-width: 1084px) {
    .nav-global {
        padding: 20px;
        margin: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .nav-header-logo {
        margin-left: 0;
        margin-top: auto;
    }

    .nav-header-home {
        margin-left: auto;
        margin-top: auto;
        padding: 0;
        background-color: black;
    }
    
    .nav-header-home i {
        font-size: 1.5rem;
    }
    
    .search-bar {
        width: 5%;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: black;
    }

    .search-bar input {
        margin: auto;
    }

    .search-bar i {
        font-size: 1.5rem;
    }

    .nav-header-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 10%;
        right: 8px;
        width: 96%;
        background: #282828;
        text-align: center;
        padding: 5% 0;
    }

    .links {
        display: none;
    }

    .menu-toggle-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }

    .nav-header-bar{
        display: none;
    }

    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 8px;
    }

    .menu-toggle i {
        font-size: 1.5rem;
    }

    .nav-menu.show {
        display: block;
    }

    .install {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .nav-header-install {
        display: flex;
        margin: 0;
        justify-content: center;
    }


    .nav-header-signup button {
        margin: 10px 0;
    }

    .nav-header-getin {
        margin: 0;
    }


    .container {
        flex-direction: column-reverse;
        height: auto;
    }
    
    .sidebar {
        width: auto;
        margin: 8px;
    }

    main {
        margin-top: 0;
    }

    .artists-grid, .albums-grid {
        display: flex;
        overflow-x: auto;
        width: 100vw;
        max-width: 100%;
    }

    .artist-card, .album-card {
        min-width: 180px;
    }

    .artist-card h3, .album-card h3 {
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .artist-card p, .album-card p {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}